/*     CSS     */

body {
    margin: 0px;
    overflow: hidden;
}

.arjs-loader {
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
}

.arjs-loader div {
    text-align: center;
    font-size: 1.25em;
    color: white;
}
  
#memory-button-container {
    position: fixed; 
    bottom: 20px; 
    left: 50%; 
    transform: translateX(-50%); 
    z-index: 1000;
}

#memory-button {
    font-size: 18px; 
    padding: 10px 20px; 
    color: white; 
    border: none; 
    border-radius: 5px; 
    cursor: pointer;
} 